%h1 Editing blog post

= render 'form'

= link_to 'Show', @blogpost
|
= link_to 'Back', blogposts_path

%p   
%h1 Adding images
%p 
  To add an image type the following in the box:
  ![Alt text](/path/to/img.jpg)
%p Note: the image can't be scaled here, and should be cropped to the required size and then uploaded. The link can also be to a URL
