= render partial: 'problem_header'
%p
  second Problem

%p 
  Enter 'second'.
 

%h2 Sample Problem
%h4 Input
.data
  %code anything
%h4 Hint
.data
  %code anything
%h4 Solution
.data
  %code second	

%h2 Actual Problem
%h4 Input
.data
  %code= @prob[:text]
%h4 Hint
.data
  %code= @prob[:text]

= render partial: 'submit'
