= render partial: 'problem_header'
%p
  The Tic Tac Toe Company needs help recovering crucial information from an internal memo, which has accidentally gone through one of the companies mysterious alphabet processing machines.
%br
  Crack the code and fortunes may await!

%p
  You are given a string containing X's, O's and hyphens. You must process the string and return the decoded message.

%h2 Sample Problem
%h4 Input
.data
  %code XXXXXXXXX-OXXXXXXXXXXXXX-OOOOOOOOOOOOOOOOOOOOXXXXXXXXXOOO-XXXXXXXXXXXXXXXXXXXXOXXX-OOOOOOOOOOOOOOOOOOOOXXXXXXXXXXXXXXXOOOOO
%h4 Solution
.data
  %code I-AM-TIC-TAC-TOE

%h2 Actual Problem
%h4 Encoded Memo
.data
  %code= @prob[:riddle]

= render partial: 'submit'
