= render partial: 'problem_header'
%p EvenOdd

%p
  2. "Wow, great job George!" says the researcher. "How about this one?"
  %br
  %br
  Groups of bananas are classified as even if the number of bananas in the group has an even number of even factors. Similarly, groups are odd if they contain an odd number of odd factors. Note that a group can be both or neither also. 
  %br
  %br
  Given N groups of bananas, where N is the first line of the input, find whether each group is even, odd, both, or neither. 


%h2 Sample Problem
%h4 EvenOdd
.data
  %code
    6 
    %br
    12
    %br 
    24
    %br 
    25
    %br
    8
    %br
    45
    %br
    16

%h4 Solution
.data
  %code
    even
    %br
    even
    %br
    both
    %br
    odd
    %br
    even
    %br
    both


%h2 Actual Problem
%h4 EvenOdd
.data
  %code
    - @prob[:lines].each do |word|
      = word
      %br

= render partial: 'submit'
