= render partial: 'problem_header'
%p Teleportals

%p
  At the lab, George finds that the setup for an early stage teleportation research project has begun malfunctioning. The experiment consists of devices known as teleportals which must be arranged in a precise manner. Three teleportals must be placed, but there are many candidate locations for the teleportals. The teleportals must be arranged in a triangle which has the transmission beacon inside of it. 
  %br
  %br
  You will be given 5 sets of the following independent input (the sample data has 2):
  %br
  1) The number of candidate teleportal locations
  %br
  2) The x-y coordinates of each candidate location on the Cartesian plane
  %br
  %br
  The beacon is at the origin. You must find the number of triangles containing the origin that can be formed by placing teleportals at the candidate points. Enter each number on its own line. 
  %br
  %br
  Question taken from: http://dwite.ca/


%h2 Sample Problem
%h4 Teleportals
.data
  %code
    4
    %br
    0 1
    %br
    \-1 -1
    %br
    0 -1
    %br
    1 -1
    %br
    6
    %br
    \-1 1
    %br
    0 1
    %br
    1 1
    %br
    \-1 -1
    %br
    0 -1
    %br
    1 -1

%h4 Solution
.data
  %code
    1
    %br
    2


%h2 Actual Problem
%h4 Teleportals
.data
  %code
    - @prob[:lines].each do |word|
      = word
      %br

= render partial: 'submit'
