= render partial: 'problem_header'
%p  
  %b Top Secret The Architecture:
%p 
  4 general purpose registers EAX, EBX, ECX, EDX that maps to binary registry code 0000, 0001, 0010, 0011
%p 
  4 system registers EIP, EBP, ESP that maps to binary registry code 0100, 0101, 0110
%h4 
  RP Assembly
%table 
  %tr 
    %td ruby
    %td OP code
    %td Machine Code
    %td Description
  %tr
    %td MOV
    %td 0000
    %td [OP | REG] + [IMM]
    %td Mov #, eax - move number into eax

%h2 Sample Problem
%h4 Input
.data
  %code XXXXXXXXX-OXXXXXXXXXXXXX-OOOOOOOOOOOOOOOOOOOOXXXXXXXXXOOO-XXXXXXXXXXXXXXXXXXXXOXXX-OOOOOOOOOOOOOOOOOOOOXXXXXXXXXXXXXXXOOOOO
%h4 Solution
.data
  %code I-AM-TIC-TAC-TOE

%h2 Actual Problem
%h4 Encoded Memo
.data
  %code= @prob[:riddle]

= render partial: 'submit'
