= render partial: 'problem_header'
%p
  One-Time Pad - A perfectly secure encryption system?

%p 
  This cipher takes a plaintext string and each character from the <i>one-time pad</i>, a series of randomly selected characters.
  'A' is indexed at 0, and sums are taken mod 25 (for example, 'Z' + 'B' = 'A'). This is, in theory, a perfectly secure encryption system, as
  long as the one-time pad is only used once.
 

%h2 Sample Problem
%h4 Ciphertext
.data
  %code UMLKLNGLEDFXY
%h4 OTP
.data
  %code CIJTHUUHMLFRU
%h4 Solution
.data
  %code SECRETMESSAGE	

%h2 Actual Problem
%h4 Ciphertext
.data
  %code= @prob[:ciphertext]
%h4 OTP
.data
  %code= @prob[:otp]

= render partial: 'submit'
