= render partial: 'problem_header'
%p
  Vigenere Cipher

%p 
  http://en.wikipedia.org/wiki/Vigen%C3%A8re_cipher
  Characters in the plaintext are matched with the character in the key (key repeats), then matched with a character in the Vigenere square.
  http://upload.wikimedia.org/wikipedia/commons/9/9a/Vigen%C3%A8re_square_shading.svg
  
  	Example: 
	Plaintext:	ATTACKATDAWN
	Key:		LEMONLEMONLE
	Ciphertext:	LXFOPVEFRNHR

Known: key is of length 5.



%h2 Sample Problem
%h4 Ciphertext
.data
  %code CHWEEYWLGSQIOMFEODDXUIQVKGH
%h4 Partial Plaintext
.data
  %code ATTAC......................
%h4 Solution
.data
  %code ATTACKTHEENEMYCAMPATSUNRISE	

%h2 Actual Problem
%h4 Ciphertext
.data
  %code= @prob[:ciphertext]
%h4 Partial Plaintext
.data
  %code= @prob[:partial]

= render partial: 'submit'
