= render partial: 'problem_header'
%p Ice Maze

%p

  After solving the lab's crisis, George decides to head home. On his way out, he notices a device on the counter. "Game Boy", it reads. George notices a note beside it saying "Argh! Been stuck on this one for days. I must know the best path!". 
  %br
  %br
  %img(src="/images/IceMaze.png")
  Image taken from SephirothX at http://www.pokecommunity.com/showthread.php?t=226711&page=2
  %br
  %br
  George decides to take a look at the researcher's ice maze conundrum. 
  %br
  %br
  In this maze, you can travel North, East, South, or West. Except that you don't move one unit, you slide until you reach a wall or an obstacle. You must find the shortest path to the centre item, then the upper left item, and finally, to the pokemon. You are given maze representations in text. '#' represents an obstacle, '.' represents a free space. Letters are a type of free space. The centre item has been moved slightly for your convenience. In the input, you begin at letter A, and you must find the shortest path to the next letter in the alphabet, until the final letter. Print the shortest paths on separate lines. 
  %br
  %br
  Question taken from: http://dwite.ca/

%h2 Sample Problem
%h4 Ice Maze
.data
  %code
    \A....E...B
    %br
    \..........
    %br
    \..........
    %br
    \..........
    %br
    \..........
    %br
    \..........
    %br
    \F.........
    %br
    \#.........
    %br
    \......#...
    %br
    \.....D...C

%h4 Solution
.data
  %code
    9
    %br
    9
    %br
    16
    %br
    9
    %br
    11


%h2 Actual Problem
%h4 Ice Maze
.data
  %code
    - @prob[:lines].each do |word|
      = word
      %br

= render partial: 'submit'
