= render partial: 'problem_header'
%p Researcher Payments

%p

  Your duty is to help George the monkey on his problem solving adventure! George is one of the smartest monkeys at a small research facility in the wild. He can even understand English!
  %br
  %br
  An intern walks by, displeased with the mundane task on the piece of paper in front of them. A gust of wind blows the paper in front of George, and his curiosity gets the best of him. On the piece of paper, there is a list of names and dollar amounts. "Isn't it boring, George? Ugh, doing this by hand is going to take me so long". The researcher explains that they have been tasked with determining the total amount of money the research team must be paid this week, rounded up to an integer amount.  
  %br
  %br
  George has a better solution. Right?
  %br
  %br
  You will be given input as the payment information for N researchers, where N is the first line in the input. For the next 2N lines, the input will give N sets of:
  %br
  1) A researcher's hours worked this week
  %br
  2) The researcher's hourly rate
  %br
  %br
  Researchers also make 10% extra for any overtime hours they work. Any work after 40 hours is overtime. 
  %br
  %br
  Report the total amount the team must be paid as an integer. 

%h2 Sample Problem
%h4 Researchers & Wages
.data
  %code
    4 
    %br
    42
    %br 
    15.60
    %br 
    40
    %br
    16.30
    %br
    40
    %br
    17.00
    %br
    45
    %br
    15.45

%h4 Solution
.data
  %code 2694

%h2 Actual Problem
%h4 Researchers & Wages
.data
  %code
    - @prob[:lines].each do |word|
      = word
      %br

= render partial: 'submit'
