= render partial: 'problem_header'
%p  
  %b Advanced Canaries:
%p 
  Now that you know how terminal, seed, and XOR canary works, determine the canaries addresses and their values. Canaries can be XOR, terminal or seeded, and values are always seeded at the previous canary value +9. Then output all the exploitable buffer.

%p 
= link_to 'Click here for more info', '/Problem 4.pdf'  

%h2 Sample Problem
%h4 Input
.data
  %code 000100100000000010000000011100000000
%h4 Solution
.data
  %code MOV 128, ECX
  %br RET


%h2 Actual Problem
%h4 Machine Code
.data
  %code= @prob[:riddle]

= render partial: 'submit'
