= render partial: 'problem_header'
%p
  One-Time Pad - a perfectly secure encryption method?

%p 
  http://en.wikipedia.org/wiki/One-time_pad
  TODO put description.


%h2 Sample Problem
%h4 Ciphertext
.data
  %code UMLKLNGLEDFXY
%h4 OTP
.data
  %code CIJTHUUHMLFRU
%h4 Solution
.data
  %code SECRETMESSAGE	

%h2 Actual Problem
%h4 Ciphertext
.data
  %code= @prob[:ciphertext]
%h4 OTP
.data
  %code= @prob[:otp]

= render partial: 'submit'
