= render partial: 'problem_header'
%p
  Vigenere Cipher

%p 
  This cipher substitutes each character in a plaintext string with a character from a key based on its position in the Vigenere square (shown below).
  If length(plaintext) > length(key), the key repeats until the end of the plaintext. Example below:
  
%p 
  Plaintext: ATTACKATDAWN
%p 
  Key: LEMONLEMONLE
%p
  Ciphertext: LXFOPVEFRNHR

%p
  =image_tag "vsquare.jpg"
  

%h2 Sample Problem
%h4 Ciphertext
.data
  %code CHWEEYWLGSQIOMFEODDXUIQVKGH
%h4 Partial Plaintext
.data
  %code ATTAC......................
%h4 Solution
.data
  %code ATTACKTHEENEMYCAMPATSUNRISE	

%h2 Actual Problem
%h4 Ciphertext
.data
  %code= @prob[:ciphertext]
%h4 Partial Plaintext
.data
  %code= @prob[:partial]

= render partial: 'submit'
