= render partial: 'problem_header'
%p
  You believe you've uncovered a secret memo from the desk of Mr. Toe, heir of the legendary Tic Tac Toe fortune. 
  Solve the riddle and fortunes may await!

%p
  You are given a string of X's and O's, and must crack the code to discover
  the hidden message.
  %br
  Return the index for the first character of each word, with the words in
  alphabetical order. Return -1 if a word is not found.
  %br
  Hint: Continuous substrings of X's and O's do not appear to be more than 26 character's long.

%h2 Sample Problem
%h4 Input
.data
  %code XXXXXXXXX-OXXXXXXXXXXXXX-OOOOOOOOOOOOOOOOOOOOXXXXXXXXXOOO-XXXXXXXXXXXXXXXXXXXXOXXX-OOOOOOOOOOOOOOOOOOOOXXXXXXXXXXXXXXXOOOOO
    
%h4 Solution
.data
  %code I-AM-TIC-TAC-TOE

%h2 Actual Problem
%h4 Needles
.data
  %code= @prob[:riddle]

= render partial: 'submit'
