.featured
  %p
    We are hackers: immensely curious individuals who enjoy exploring the details of systems and stretching their capabilities.
  %p
    We want to bring the passion and community of the original <a href="http://en.wikipedia.org/wiki/Hacker_(programmer_subculture)">hacker subculture</a> back to academia, starting with UofT.

%h1 The Club

%p
  Hacker Academy is a student community at the University of Toronto. We attract students of common technical interests and promote an environment of curiosity, learning and sharing of knowledge.

%p
  Through our weekly <a href="/talks">talks</a> and monthly <a href="/dojo">programming competitions</a>, HA presents members with the opportunity to explore their interests in technology and share their knowledge and expertise with others. We want the builders of future hardware and software systems to have a chance to apply what they are learning in school and stay up to date with what is happening in industry.

%h1 The Team

%p
  Hacker Academy team 2012-2013:

%h2 Han Jiang - Founder, NETtalk Organizer, Sponsors & Public Relations, Finances, Club Logistics
= image_tag 'ha_han.jpg'

%h2 Adam Hueniken - C3 Organizer, Dojo Master, Web Developer and Technical Lead
= image_tag 'ha_adam.jpg'

%h2 Emily Ng - Social Media and Marketing, Finances, Sponsor Relations
= image_tag 'ha_emily.jpg'

%h2 Pawel Chomicki - Dojo Master, Web Developer and Technical Lead

%p
  Hacker Academy Alumni
%h2 Rafal Dittwald - Founder
%h2 James Cash - Founder
%br
%br
%br

%p
  Interested in becoming an exective? <a href="/contact">Let us know!</a>.



%h1 History

Hacker Academy started in the summer of 2009 with a small group of enthusiatic web developers trying to connect and spread the passion of web development. In 2011, Han Jiang, Rafal Dittwald, James Cash, jointly founded the Hacker Academy we know today. Our efforts are now focused on maintaining a strong community, built around sharing knowledge and challenging each other to learn new things.
