.featured
  %p
    We are hackers: immensely curious individuals who enjoy exploring the details of systems and stretching their capabilities.
	
%h1 The Club

%p
  Hacker Academy is a student community at the University of Toronto. We attract students of common technical interests and promote an environment of curiosity, learning and sharing of knowledge.
  
%p
  Hacker Academy is not about cultivating black, white, or grey-hat Hackers. We call ourselves Hackers not on the computer security basis but the the <a href="http://en.wikipedia.org/wiki/Hacker_(programmer_subculture)">Hacker subculture</a>. At Hacker Academy, we live by the ABC of <em>The Hacker Way</em>:

%dt <em>A</em>ttitude: Innovative, clever, and crafty
%dt <em>B</em>oundless: We decide what we do
%dt <em>C</em>ommunity: Sharing technical knowledge, and keeping it open
%br
%p
  Through our weekly <a href="/talks">talks</a> and monthly <a href="/dojo">programming competitions</a>, HA presents members with the opportunity to explore their interests in technology and share their knowledge and expertise with others. We want the builders of future hardware and software systems to have a chance to apply what they are learning in school and stay up to date with what is happening in industry.

%h1 The Team
%dt Adam Hueniken - President & Technical Lead
= image_tag '2014_adam.jpg'
%br
%br
%dt Spencer Beacock - Sponsorship & Public Relations
= image_tag '2014_spencer.jpg'
%br
%br
%dt Jacob Nguyen - Club Logistics
= image_tag '2014_jacob.jpg'
%br
%br
%dt Eric Payne - Webmaster
= image_tag '2014_eric.jpg'
%br
%br

%p
  Interested in becoming an exective? <a href="/contact">Let us know!</a>.
%h1 Hacker Academy Alumni
%dd Rafal Dittwald - Founder (2011-2012)
%dd James Cash - Founder (2011-2012)
%dd Han Jiang - Founder (2011-2013)

%h1 History

Hacker Academy started in the summer of 2009 with a small group of enthusiatic web developers trying to connect and spread the passion of web development. In 2011, Han Jiang, Rafal Dittwald, James Cash, jointly founded the Hacker Academy we know today. Our efforts are now focused on maintaining a strong community, built around sharing knowledge and challenging each other to learn new things.


%h1 HA Code of Conduct
%dt Applicability
%dt *By viewing any webpage on hackeracademy.org or becoming a member of Hacker Academy, you agree to the Code of Conduct (CoC) outlined below
%dt *This CoC remains binding from first encounter with Hacker Academy and into perpetuity
%dt *CoC is subjected to revision at any time without notice
%br
%dt General Guidelines
%dt *You positively contribute to Hacker Academy events and club culture
%dt *You aid in maintaining a friendly and professional atmosphere
%dt *You have confirmed that all your activities associated with Hacker Academy complies with Canadian Laws
%br
%dt NETtalks
%dt *You are not to discuss topics related to piracy, questionable content, and illegal activities
%dt *You are to present factual information, where sources must be provided upon request
%br
%dt C3
%dt *Your project belongs to you and you/team is solely responsible for driving this project
%dt *Hacker Academy will make help you drive your project through resources and knowledge, but is not liable for but not limited expenses, costs, claims, and damages
%dt *You are in your best interest to apply for The Hatchery Entrepreneurship program to transition your project into a business at U of T through C3 Hatchery to receive mentorship and potential funding
%br
%dt Advertising/Promotion/Commercial Use
%dt *You are not allowed to use Hacker Academy to:
%dt *Advertise or promote products and services that you or someone you know has an "interest" in
%dt *Directly or indirectly profit from your relations with HA members and the people you meet here, now or in the future
%dt *Please contact Spencer Beacock s.t.beacock@gmail.com if you have advertising or promotional inquiries
