.featured
  %h5
    C3 - Code, Collaborate, Create
  %p 
    Join us every Saturday from 1-4 when there isn't a dojo for hacking sessions. Team up with other Hacker Academy members to create and learn!
