%h1
  %span(class="c3-subtitle") C3 - Code, Collaborate, Create
%p 
  Join us every Saturday from 1-4 when there isn't a dojo for hacking sessions. Team up with other Hacker Academy members to create and learn! 


%h1{:class => "leaderboard_title"}  Resources
.resources
  %p
    General
  %p 
    %a{:href=>"https://github.com/"} Github
  %p &nbsp;
  %p 
    Building an app:
  %p 
    %a{:href=>"https://developer.apple.com/devcenter/ios/index.action"} Apple IOS Dev Center,
  %p
    %a{:href=>"http://developer.android.com/index.html"} Android Dev Center,
  %p
    %a{:href=>"http://dev.windowsphone.com/en-us/"} Windows Phone Dev Center
  %p
    %a{:href=>"http://www.youtube.com/user/thenewboston/"} Video series on Android and iPhone development. 
  %p &nbsp;
  %p 
    %a{:href=>"www.aichallenge.org"} Google AI Challenge
  %p &nbsp;
  %p 
    %a{:href=>"www.kaggle.com"} Kaggle Competitions:
  %p 
    %a{:href=>"http://www.quora.com/Kaggle/What-do-top-Kaggle-competitors-focus-on"} What do top Kaggle competitors focus on? (Quora)
  %p &nbsp;
  %p 
    %a{:href=>"http://imaginecup.com/"} Imagine Cup
  %p &nbsp;
  %p 
    Making 
    %a{:href=>"www.khanacademy.org"} Khan Academy
    Lessons:
  %p
    %a{:href=>"https://github.com/Khan/khan-exercises"} Github
  %p &nbsp;
  %p 
    %a{:href=>"http://www.arduino.cc/"} Arduino:
  %p
    %a{:href=>"http://hacknmod.com/hack/top-40-arduino-projects-of-the-web/"} Top 40 Arduino projects
  %p &nbsp;
  %p 
    %a{:href=>"http://www.raspberrypi.org/"} Rasberry Pi
  %p &nbsp;
  %p 
    Make a personal website:
  %p
    %a{:href=>"http://www.w3.org/community/webed/wiki/Main_Page"} Web standards curriculum
  %p
    %a{:href=>"http://dev.opera.com/articles/view/1-introduction-to-the-web-standards-cur/"} (older version - nicer formatting)
    %a{:href=>"www.wordpress.org"}
  %p &nbsp;
  %p 
    Make a web-app:
  %p 
    %a{:href=>"http://ruby.railstutorial.org/ruby-on-rails-tutorial-book"} Ruby on Rails Tutorial
  %p
    %a{:href=>"http://www.heroku.com/"} Heroku