.featured
  We are a community of students <br />
  who are passionate about technology.<br /> <br /> 
 
  Our events are open to everyone, <br />
  <a href="/users/sign_up">sign up</a> to become a member!<br />
  <br />

    