.featured
  We are a community of students <br />
  who are passionate about technology.<br /> <br /> 

  <a> Good luck with exams everyone! </a>
  Dojo winners remember to contact us for your prize money. <br />
  <br />
 
  Our events are open to everyone, <br />
  <a href="/users/sign_up">sign up</a> to become a member!<br />
  <br />

-# or join our <a href="#">mailing list</a>.
<a href="https://twitter.com/Hacker_Academy" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @Hacker_Academy</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<a href="//www.youtube.com/subscription_center?add_user_id=Ui2ya0Endw3E9B580CRv9w&feature=creators_cornier-//s.ytimg.com/yt/img/creators_corner/Subscribe_to_my_videos/YT_Subscribe_130x36_red.png"><img src="//s.ytimg.com/yt/img/creators_corner/Subscribe_to_my_videos/YT_Subscribe_130x36_red.png" alt="Subscribe to me on YouTube"/></a><img src="//www.youtube-nocookie.com/gen_204?feature=creators_cornier-//s.ytimg.com/yt/img/creators_corner/Subscribe_to_my_videos/YT_Subscribe_130x36_red.png" style="display: none"/>
.fbwrappper(style="overflow:hidden;height: 230px; width: 340px;")
  <iframe src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FHacker-Academy%2F233826676647237&amp;width=340&amp;colorscheme=light&amp;show_faces=true&amp;border_color=%23E6E6E6&amp;stream=false&amp;header=false&amp;height=258" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:340px; height:258px; background: #E6E6E6;" allowTransparency="true"></iframe>
    