<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>C3! A U of T Hackathon</title>
	<meta name="description" content="A website for C3! a hackathon hosted at the University of Toronto, February 2014. Hosted by Hacker Academy.">
	<meta name="author" content="Hacker Academy.">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="stylesheets/base.css">
	<link rel="stylesheet" href="stylesheets/skeleton.css">
	<link rel="stylesheet" href="stylesheets/layout.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

</head>
<body>



	<!-- Primary Page Layout
	================================================== -->
<div class="header grey-bg">
	<div class="c3logo-container">
		<img class="c3logo" src="/images/c3logo.png" />
	</div>
	<div class="container">
		<div class="row">
			<div class="eight columns navbar">
				<h3 id="header-title" class="header-title inline"><a href="index.html"> <span class="ultra-bold">C</span>3 Hackathon </a> </h3>
				
			</div>
			<div class="eight columns navbar right">
				<h4 class="inline"> <a href="details.html"> DETAILS </a></h4>
				<h4 class="inline"> <a href="registration.html"> REGISTRATION </a></h4>
			</div>
		</div>
	</div>
</div>

<div class="green-bg prizes">
	<div class="container">
		<div class="row">
			<h2 class="section-title"> PRIZES </h2>
		</div>
		<div class="row add-top-large">
			<div class="eight columns">
				<p class="prize bold"> 1st - 500$  </p>
				<p class="prize bold"> 2nd - 250$ </p> 
				<p class="prize bold">  3rd - 100$ </p>
			</div>
			<div class="eight columns">
				<p class="prize"> UofT Hatchery is also providing a number of lunches with mentors for teams with the best business ideas. </p>
			</div>
		</div>
		<div class="row">
			<h2> <a href="http://hackeracademy.org/Judging%20Criteria.pdf"> Judging Criteria </a> </h2>
		</div>
		</div>
	</div>
</div>

<div class="faq purple-bg">
	<div class="container">
		<div class="row">
			<div class="sixteen columns">
				<h1 class="section-title"> FAQ </h1>
			</div>
		</div>
		<div class="row add-top-large">
			<div class="seven columns">
				<p>Q: Who can come? </p>
			</div>
			<div class="eight columns offset-by-one">
				<p>A: Any student interested in building something!</p>
			</div>
		</div>
		
		<div class="row">
			<div class="seven columns">
				<p>Q: Do I have to be an awesome hacker who has built a ton of cool stuff before to come? </p>
			</div>
			<div class="eight columns offset-by-one">
				<p>A: Nope, we will have experts for each platform on hand to help answer your questions and help you along. Also we will be having Android and iOS tutorials leading up to the event! However, if you are an amazing hacker we want you to come too!</p>
			</div>
		</div>
		<div class="row">
			<div class="seven columns">
				<p>Q: What should I bring with me to the event? </p>
			</div>
			<div class="eight columns offset-by-one">
				<p>A: You should bring a power cord and laptop with you. Possibly a pillow, if you plan on coding through the night. Other than that it's up to you.</p>
			</div>
		</div>
		<div class="row">
			<div class="seven columns ">
				<p>Q: Will there be wifi available there? </p>
			</div>
			<div class="eight columns offset-by-one">
				<p>A: We will hopefully have wifi working for everyone on the day, however we cannot guarantee that it will work all the time. Therefore you should come prepared to work without wifi.</p>
			</div>
		</div>
	</div>
</div>

<div class="rules yellow-bg">
	<div class="container">
		<div class="row">
			<div class="sixteen columns">
				<h1 class="section-title"> RULES </h1>
			</div>
		</div>
		<div class="row add-top-large">
			<div class="eight columns">
				<ol>
					<li> Type of hack: Anything. Mobile, Web, Desktop, Hardware.</li>
					<li> Fresh Code: Your app must be coded at the hackathon to be eligible for prizes. You can use open source libraries, follow tutorials, bring mockups and anything else you need. However you must code the actual app at the hackathon. We won't be actively policing this during the event, this rule is based off of a trust system. </li>
					<li> Ownership and IP: Teams have full ownership of everything they build at the event. </li>
					<li> Team size: Teams may not have more than 4 members. </li>
					<li> Presentations: If your app is selected as a finalist, you will present in front of everyone &amp; our panel of judges during our final ceremonies. </li>
					<li> Judging & Winning: Everyone's apps will be judged upon their concept, design work as well as completeness. </li>
					<li> Each group's app will be judged by 2 judges initially to select finalists. After finalists have been chosen the full panel of judges will judge them during their presentations to determine final winners. </li>
					<li> Power: Please do not plug in your own power bars throughout the event because the tutorial rooms can only take so many laptops connected at once and we don't want to blow a fuse. Also we may need people within teams to take turns charging depending upon turnout at the event. </li>
					<li> General Conduct: Please remember that we're working within the University of Toronto for the event and if there is any damages to property we won't be able to host these kind of events in the future. </li>
					<li> No alcohol at this event. </li>
				</ol>
			</div>
		</div>
	</div>
</div>

<footer>
	<div class="container">
		<div class="row">
			<div class="sixteen columns">
				<h3 class="center add-bottom">C3 is the result of a team effort between:  </h3>
			</div>
		</div>
		<div class="footer-logo-container row">
			<div class="one-third column">
				<img class="halogo" src="/images/halogo.png"/>
			</div>
			<div class="one-third column">
				<img class="hatcherylogo" src="/images/hatcherylogo.png"/>
			</div>
			<div class="one-third column">
				<img class="uoftdevlogo" src="/images/uoftdevlogo.png"/>
			</div>
		</div>
		<div class="sixteen columns">
			<div class="colophon">
				<h5 class="add-top-large"> Colophon: </h5>
				<p class="remove-bottom"> Entypo pictograms by Daniel Bruce — <a href="http://www.entypo.com">www.entypo.com</a></p>
				<p> Skeleton framework used - <a href="http://www.getskeleton.com">www.getskeleton.com</a></p>
			</div>
		</div>
	</div>
</footer>
<!-- End Document
================================================== -->
</body>
</html>