<body>



	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<div class="header">
	<div class="container">
		<div class="sixteen columns">
			<div class="eight columns alpha">
				<h4> <a class="no-dec white" href="index.html"> Hacker Academy - Windows Phone 8 Hackathon </a> </h4>
			</div>
			<div class="eight columns omega">
				<ul class="top-nav">
					<li> <a href="resources.html"> Resources </a> </li>
					<li> <a href="register.html"> Register </a> </li>
					<li> <a href="rules.html"> Rules </a> </li>
					<li> <a href="schedule.html"> Schedule </a> </li><li> <a href="faq.html"> FAQ </a> </li>
				</ul>
			</div>
		</div>
		</div>
	</div>

<div class="faq">
	<div class="container">
		<div class="row">
		<div class="ten columns offset-by-three">
			<h1 class="remove-bottom" style="margin-top: 40px">Frequently Asked Questions</h1>
		</div>
	</div>
</div>
</div>

<div class="grey">
	<div class="container">
		<div class="row">
			<div class="ten columns offset-by-three">
			<h5 class="question add-top"> Who can come?</h5>
			<p class="answer"> Any university or high school student</p>
			<h5 class="question"> Do I have to be an uber hacker whose built on windows phone before to come? </h5>
			<p class="answer"> Nope, we will be running Introductory tutorials to Windows Phone App Development to help everyone along. However, if you are a rock-star hacker we want you to come too!</p> 
			<h5 class="question"> What should I bring with me to the event? </h5> 
			<p class="answer"> You should bring a power cord and laptop with you. Other than that it's up to you. </p>
			<h5 class="question"> What meals are we served? </h5>
			<p class="answer"> You will get lunch and supper on Saturday as well as lunch on Sunday. </p>
			<h5 class="question"> Will there be wifi available there? </h5>
			<p class="answer"> We will hopefully have wifi working for everyone on the day, however we cannot gaurantee it. Therefore you must be prepared to work without wifi. </p>
			<h4 class="add-top bold"> More questions and answers will be posted soon. </h4>
		</div>
		</div>
		
		</div>
	</div>

	

	<div class="footer big-top">
	<div class="container">
			<div class="eight columns">
				<h3 class="white add-bottom"> For more information about Hacker Academy please visit: <a class="white" href="www.hackeracademy.org"> www.hackeracademy.org </a> </h3>
				<p class="big-top white"> Attribution: <a class="white" href="http://thenounproject.com/noun/trophy/#icon-No412" target="_blank">Trophy</a>  from The Noun Project </p>
			</div>
			<div class="four columns offset-by-four">
				<ul class="bot-nav">
					<li> <a href="/faq.html"> FAQ </a> </li>
					<li> <a href="/rules.html"> Rules </a> </li>
					<li> <a href="/register.html"> Register </a> </li>
					<li> <a href="/resources.html"> Resources </a> </li>
					<li> <a href="/schedule.html"> Schedule </a> </li>
				</ul>
				<p class="white"> Copyright 2013. </p>
			</div>
	</div>
	</div><!-- container -->


<!-- End Document
================================================== -->
</body>
</html>