<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>C3! A U of T Hackathon</title>
	<meta name="description" content="A website for C3! a hackathon hosted at the University of Toronto, February 2014. Hosted by Hacker Academy.">
	<meta name="author" content="Hacker Academy.">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="/stylesheets/base.css">
	<link rel="stylesheet" href="/stylesheets/skeleton.css">
	<link rel="stylesheet" href="/stylesheets/layout.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>


	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

</head>
<body>
	<!-- Primary Page Layout
	================================================== -->
<div class="header grey-bg">
	<div class="c3logo-container">
		<img class="c3logo" src="/images/c3logo.png" />
	</div>
	<div class="container">
		<div class="row">
			<div class="eight columns navbar">
				<h3 id="header-title" class="header-title inline"><a href="index.html"> <span class="ultra-bold">C</span>3 Hackathon </a> </h3>
				
			</div>
			<div class="eight columns navbar right">
				<h4 class="inline"> <a href="details.html"> DETAILS </a></h4>
				<h4 class="inline"> <a href="registration.html"> REGISTRATION </a></h4>
			</div>
		</div>
	</div>
</div>

<div class="red-bg title">
	<div class="container">
		<div class="row title-wrapper">
			<div class="eight columns">
				<h1 class="main-title"> <span class="ultra-bold">C</span>3 Hackathon </h1>
			</div>
			<div class="eight columns">
				<h5 class="subtitle "> A STUDENT HACKATHON @ U OF T </h5>
				<h5 class="subtitle "> FEBRUARY 1ST AND 2ND, 2014 </h5>
			</div>
		</div>
		<div class="row">
			<div class="one-third column">
				<h1 class="entypo-icons center"> &#59233;&#59234;</h1>
				<h4 class="center icon-desc"> CODE </h4>
			</div>
			<div class="one-third column">
				<h1 class="entypo-icons center"> &#128101;</h1>
				<h4 class="center icon-desc"> COLLABORATE </h4>
			</div>
			<div class="one-third column">
				<h1 class="entypo-icons center"> &#128640;</h1>
				<h4 class="center icon-desc"> CREATE </h4>
			</div>
		</div>
	</div>
</div>

<div class="green-bg schedule">
	<div class="container">
		<div class="row">
			<div class="sixteen columns">
				<h2 class="section-title"> SCHEDULE </h2>
			</div>
		</div>
		<div class="row schedule-wrapper">
			<div class="eight columns">
				<div class="row">
					<div class="six columns offset-by-two">
						<h5 class="day-title"> SATURDAY </h5>
					</div>
				</div>
				<div class="row">
					<div class="two columns alpha">
						<h4> 9-10 </h4>
					</div>
					<div class="six columns omega">
						<h4> Registration </h4>
					</div>
				</div>
				<div class="row">
					<div class="two columns alpha">
						<h4> 10 </h4>
					</div>
					<div class="six columns omega">
						<h4> Introduction </h4>
					</div>
				</div>
				<div class="row">
					<div class="two columns alpha">
						<h4> 10:30 </h4>
					</div>
					<div class="six columns omega">
						<h4> Development Starts </h4>
					</div>
				</div>
				<div class="row">
					<div class="two columns alpha">
						<h4> 12:30 </h4>
					</div>
					<div class="six columns omega">
						<h4> Lunch </h4>
					</div>
				</div>
				<div class="row">
					<div class="two columns alpha">
						<h4> 18:30 </h4>
					</div>
					<div class="six columns omega">
						<h4> Supper </h4>
					</div>
				</div>
				<div class="row">
					<div class="two columns alpha">
						<h4> 19:30+ </h4>
					</div>
					<div class="six columns omega">
						<h4> Optional Overnight Dev Time </h4>
					</div>
				</div>
			</div>
			<div class="eight columns">
					<div class="row">
						<div class="six columns offset-by-two">
							<h5 class="day-title"> SUNDAY </h5>
						</div>
					</div>
					<div class="row">
						<div class="two columns alpha">
							<h4> 10 </h4>
						</div>
						<div class="six columns omega">
							<h4> Coffee </h4>
						</div>
					</div>
					<div class="row">
						<div class="two columns alpha">
							<h4> 12 </h4>
						</div>
						<div class="six columns omega">
							<h4> Lunch </h4>
						</div>
					</div>
					<div class="row">
						<div class="two columns alpha">
							<h4> 14:30 </h4>
						</div>
						<div class="six columns omega">
							<h4> Judging Begins </h4>
						</div>
					</div>
					<div class="row">
						<div class="two columns alpha">
							<h4> 16 </h4>
						</div>
						<div class="six columns omega">
							<h4> Finalist Presentations </h4>
						</div>
					</div>
					<div class="row">
						<div class="two columns alpha">
							<h4> 17 </h4>
						</div>
						<div class="six columns omega">
							<h4> Awards Ceremony </h4>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>

<div class="sponsors purple-bg">
	<div class="container">
		<div class="row">
			<div class="sixteen columns">
				<h1 class="section-title"> SPONSORS </h1>
			</div>
		</div>
		<div class="row add-top-large">
			<div class="logo-container">
				<img class="scale-with-grid" src="/images/Newegg_logo.svg"/>
			</div>
		</div>
		<div class="row add-top-onetwenty">
			<h3> If you're interested in sponsoring this event please contact us at <a href="mailto:info@hackeracademy.org?Subject=C3%20Sponsorship" target="_top">info@hackeracademy.org </a></h3>
		</div>
	</div>
</div>

<div class="tutorials blue-bg">
	<div class="container">
		<div class="row">
			<div class="sixteen columns">
				<h1 class="section-title"> TUTORIALS </h1>
			</div>
		</div>
		<div class="row">
			<div class="eight columns">
			    <p> Hacker Academy has enlisted the help of U of T Dev to run tutorials on both android and ios development in the weeks leading up to the event. If you’re looking to learn how to build an app or want a refresher you should definitely come out to the tutorials. </p>
			    <p> Dates, times and locations will be released soon! </p>
			</div>
		</div>
	</div>
</div>

<footer>
	<div class="container">
		<h3 class="center add-bottom">C3 is organized by: Hacker Academy </h3>
		<div class="colophon">
			<h5 class="add-top-large"> Colophon: </h5>
			<p class="remove-bottom"> Entypo pictograms by Daniel Bruce — <a href="http://www.entypo.com">www.entypo.com</a></p>
			<p> Skeleton framework used - <a href="http://www.getskeleton.com">www.getskeleton.com</a></p>
		</div>
</footer>
<script>
	 
</script>
<!-- End Document
================================================== -->
</body>
</html>