
<body>



	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<div class="header">
	<div class="container">
		<div class="sixteen columns">
			<div class="eight columns alpha">
				<h4> <a class="no-dec white" href="index.html"> Hacker Academy - Windows Phone 8 Hackathon </a> </h4>
			</div>
			<div class="eight columns omega">
				<ul class="top-nav">
					<li> <a href="resources.html"> Resources </a> </li>
					<li> <a href="register.html"> Register </a> </li>
					<li> <a href="rules.html"> Rules </a> </li>
					<li> <a href="schedule.html"> Schedule </a> </li><li> <a href="faq.html"> FAQ </a> </li>
				</ul>
			</div>
		</div>
		</div>
	</div>

	<div class="light">
	<div class="container">
		<div class="row">
		<div class="sixteen columns add-bottom">
			<h1 class="center" style="margin-top: 40px">Windows Phone 8 Hackathon</h1>
			<h4 class="center"> Bahen Centre for Information Technology, Toronto ON </h4>
			<h4 class="center add-bottom"> February 2nd and 3rd, 2013 </h4> 
		</div>
		</div>
		<div class="row add-top">
			<div class="four columns">
				<img class="scale-with-grid" src="/images/people.jpg"> </img>
				<h4> Meet People </h4>
				<p> All students are welcome! </p>
			</div>
		<div class="four columns">
			<img class="scale-with-grid" src="/images/learn.png"> </img>
			<h4> Learn </h4>
			<p> There will be tutorials and resources to help everyone!</p>
		</div>
		<div class="four columns">
			<img class="scale-with-grid" src="/images/laptop2.png"> </img>
			<h4> Develop </h4>	
			<p> Build the app you've always wanted. </p>
		</div>
		<div class="four columns">
			<img class="scale-with-grid" src="/images/trophy.png"> </img>
			<h4> Compete </h4>
			<p> Win some of our great prizes </p>
		</div>
		</div>
		</div>
	</div>

	<div class="about">
	<div class="container">
		<div class="row">
			<div class="six columns" >
				<img class="scale-with-grid" id="margin-bot" src="/images/phone.jpg"> </img>
			</div>
			<div class="nine columns offset-by-one">
				<h1 class="about-title"> About </h1>
				<p> Hacker Academy is proud to present our Windows Phone 8 hackathon. This hackathon is designed for students from <span class="highlight"> any school </span>, in any year, with <span class="highlight"> any level of experience </span>. </p>
				<p> We're looking to provide a great experience for all levels of developers, if you're experienced you'll be able to compete for some of our fantastic prizes, and if you're a beginner this is a great opportunity to come out and learn! </p>
				<p> Please see our <a href="/faq.html"> FAQ </a>  for further information </p>
			</div>
		</div>
	</div>
</div>

	<div class="sponsor-container">
	<div class="container">
		<div class="row">
			<div class="sixteen columns">
				<h1 class="inline sponsored"> Sponsored by : </h1>
				<img class="inline" src="/images/logo.png"> </img>
			</div>
		</div>
	</div>
	</div>

	<div class="footer">
	<div class="container">
			<div class="eight columns">
				<h3 class="white add-bottom"> For more information about Hacker Academy please visit: <a class="white" href="www.hackeracademy.org"> www.hackeracademy.org </a> </h3>
				<p class="big-top white"> Attribution: <a class="white" href="http://thenounproject.com/noun/trophy/#icon-No412" target="_blank">Trophy</a>  from The Noun Project </p>
			</div>
			<div class="four columns offset-by-four">
				<ul class="bot-nav">
					<li> <a href="/faq.html"> FAQ </a> </li>
					<li> <a href="/rules.html"> Rules </a> </li>
					<li> <a href="/register.html"> Register </a> </li>
					<li> <a href="/resources.html"> Resources </a> </li>
					<li> <a href="/schedule.html"> Schedule </a> </li>
				</ul>
				<p class="white"> Copyright 2013. </p>
			</div>
	</div>
	</div><!-- container -->


<!-- End Document
================================================== -->
</body>
</html>