<body>



	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<div class="header">
	<div class="container">
		<div class="sixteen columns">
			<div class="eight columns alpha">
				<h4> <a class="no-dec white" href="index.html"> Hacker Academy - Windows Phone 8 Hackathon </a> </h4>
			</div>
			<div class="eight columns omega">
				<ul class="top-nav">
					<li> <a href="resources.html"> Resources </a> </li>
					<li> <a href="register.html"> Register </a> </li>
					<li> <a href="rules.html"> Rules </a> </li>
					<li> <a href="schedule.html"> Schedule </a> </li><li> <a href="faq.html"> FAQ </a> </li>
				</ul>
			</div>
		</div>
		</div>
	</div>

	<div class="container">
	<h1 class="big-top"> Registration </h1>
	<h5 class="add-bottom"> Please register to our Eventbrite event if you plan on attending. </h5>
	<div class="big-top" style="width:100%; text-align:left;" ><iframe  src="http://www.eventbrite.com/tickets-external?eid=5176842074&ref=etckt&v=2" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Online Ticketing</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://2013wp8hackathon.eventbrite.com?ref=etckt">Windows Phone 8 Hackathon!</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>
	</div>

<div class="footer big-top">
	<div class="container">
			<div class="eight columns">
				<h3 class="white add-bottom"> For more information about Hacker Academy please visit: <a class="white" href="www.hackeracademy.org"> www.hackeracademy.org </a> </h3>
				<p class="big-top white"> Attribution: <a class="white" href="http://thenounproject.com/noun/trophy/#icon-No412" target="_blank">Trophy</a>  from The Noun Project </p>
			</div>
			<div class="four columns offset-by-four">
				<ul class="bot-nav">
					<li> <a href="faq.html"> FAQ </a> </li>
					<li> <a href="rules.html"> Rules </a> </li>
					<li> <a href="register.html"> Register </a> </li>
					<li> <a href="resources.html"> Resources </a> </li>
					<li> <a href="schedule.html"> Schedule </a> </li>
				</ul>
				<p class="white"> Copyright 2013. </p>
			</div>
	</div>
	</div><!-- container -->


<!-- End Document
================================================== -->
</body>
</html>