<body>



	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<div class="header">
	<div class="container">
		<div class="sixteen columns">
			<div class="eight columns alpha">
				<h4> <a class="no-dec white" href="index.html"> Hacker Academy - Windows Phone 8 Hackathon </a> </h4>
			</div>
			<div class="eight columns omega">
				<ul class="top-nav">
					<li> <a href="resources.html"> Resources </a> </li>
					<li> <a href="register.html"> Register </a> </li>
					<li> <a href="competition.html"> Competition </a> </li>
					<li> <a href="rules.html"> Rules </a> </li>
					<li> <a href="schedule.html"> Schedule </a> </li><li> <a href="faq.html"> FAQ </a> </li>
				</ul>
			</div>
		</div>
		</div>
	</div>

<div class="resources">
	<div class="container">
		<h1 class="white"> Resources </h1>	
</div>
</div>

<div class="resource-content">
	<div class="container">
		<div class="sixteen columns">
			<h3 class="resource-title big-top"> Quick Links </h3>
			<ul>
				<li> <a href="http://www.dreamspark.com"> Dreamspark  </a> </li>
				<li>  <a href="http://dev.windowsphone.com/en-us"> Windows Phone Dev Center </a> </li>
				<li> <a href="http://code.msdn.microsoft.com/wpapps/"> Windows Phone Code Samples  </a> </li>
				<li>  <a href="http://msdn.microsoft.com/en-us/library/windowsphone/develop/ff402551(v=vs.105).aspx">Windows Phone Developer Documents </a> </li>
			</ul>

			<h3 class="resource-title big-top add-bottom"> Setting up your Development Environment for Windows Phone </h3>
			<div class="twelve columns">
			<ol>
				<li> <span class="bold"> Installing Windows 8 </span> To develop for Windows Phone 8 you need to have Windows 8 installed. Luckily, if you're a U of T student you can get a free licensce for Windows 8 from dreamspark. If you're not from U of T your university may have a similar offer for you too. Create an account on Dreamspark then go to the "More Software through your school" tab to find Windows 8. 
				<a class="block" href="http://msdn03.e-academy.com/utoronto_csengbus/"> U of T engineering link for Win8 (use ecf e-mail) </a> <span class="note"> Note: if you have Windows 7 installed you can develop for Windows Phone 7.5 apps but not Windows Phone 8 apps. </span> </li>
				<li> <span class="bold"> Installing Visual Studio</span> Development for Windows Phone or Windows 8 apps is done through Visual Studio. Students are once again able to get a free copy of Visual Studio Professional 2012 from <a href="https://www.dreamspark.com/Student/Default.aspx"> Dreamspark. </a></li>
				<li> <span class="bold"> Installing the Windows Phone SDK</span> You can install the Windows Phone SDK from <a href="http://dev.windowsphone.com/en-us/downloadsdk"> here</a>.   This will install everything you need to build Windows Phone apps and will also let you install an express copy of Visual Studio if you have skipped step 2.  </li>
				<li> <span class="bold"> Create Your First App</span> Follow the <a href="http://msdn.microsoft.com/library/windowsphone/develop/ff402526(v=vs.105).aspx"> "Create your first app Tutorial" </a> from the windows phone dev site to familiarize yourself with the Visual Studio environment.  </li>
			</div>
		</div>
	</div>
</div>

<div class="footer big-top">
	<div class="container">
			<div class="eight columns">
				<h3 class="white add-bottom"> For more information about Hacker Academy please visit: <a class="white" href="http://www.hackeracademy.org"> www.hackeracademy.org </a> </h3>
				<p class="big-top white"> Attribution: <a class="white" href="http://thenounproject.com/noun/trophy/#icon-No412" target="_blank">Trophy</a>  from The Noun Project </p>
			</div>
			<div class="four columns offset-by-four">
				<ul class="bot-nav">
					<li> <a href="faq.html"> FAQ </a> </li>
					<li> <a href="rules.html"> Rules </a> </li>
					<li> <a href="register.html"> Register </a> </li>
					<li> <a href="resources.html"> Resources </a> </li>
					<li> <a href="schedule.html"> Schedule </a> </li>
				</ul>
				<p class="white"> Copyright 2013. </p>
			</div>
	</div>
	</div><!-- container -->


<!-- End Document
================================================== -->
</body>
</html>