<body>



	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<div class="header">
	<div class="container">
		<div class="sixteen columns">
			<div class="eight columns alpha">
				<h4> <a class="no-dec white" href="index.html"> Hacker Academy - Windows Phone 8 Hackathon </a> </h4>
			</div>
			<div class="eight columns omega">
				<ul class="top-nav">
					<li> <a href="resources.html"> Resources </a> </li>
					<li> <a href="register.html"> Register </a> </li>
					<li> <a href="rules.html"> Rules </a> </li>
					<li> <a href="schedule.html"> Schedule </a> </li><li> <a href="faq.html"> FAQ </a> </li>
				</ul>
			</div>
		</div>
		</div>
	</div>

<div class="rules">
	<div class="container">
		<h1 class="remove-bottom white"> Rules </h1>	
	</div>
</div>

<div class="rules-content">
	<div class="container">
		<p> Disclaimer: Many of our rules are based off of the AngelHack Contest Rules </p>
		<ol>
			<li> <span class="bold"> Type of app: </span> To compete in the hackathon you can build apps for Windows Phone 8, or Windows 8. However, tutorials will be focused upon Windows Phone 8. </li>
			<li> <span class="bold"> Fresh Code:  </span> You're app must be coded at the hackathon to be eligible for prizes. You can use open source libraries, follow tutorials, bring mockups and anything else you need. However you must code the actual app at the hackathon. We won't be  actively policing this during the event, this rule is based off of a trust system. </li>
			<li> <span class="bold"> Ownership and IP: </span> Teams have full ownership of everything they build at the event. </li>
			<li> <span class="bold"> Team size: </span> Teams may not have more than 4 members. </li>
			<li> <span class="bold"> Presentations: </span> If your app is selected as a finalist, you will present in front of everyone & our panel of judges during our final ceremonies. </li>
			<li> <span class="bold"> Judging & Winning: </span> Everyone's apps will be judged upon their concept, design work as well as completeness. </br> Each group's app will be judged by 2 judges initially to select finalists. After finalists have been chosen the full panel of judges will judge them during their presentations to determine final winners.  </li>
	</div>
</div>


<div class="footer big-top">
	<div class="container">
			<div class="eight columns">
				<h3 class="white add-bottom"> For more information about Hacker Academy please visit: <a class="white" href="http://www.hackeracademy.org"> www.hackeracademy.org </a> </h3>
				<p class="big-top white"> Attribution: <a class="white" href="http://thenounproject.com/noun/trophy/#icon-No412" target="_blank">Trophy</a>  from The Noun Project </p>
			</div>
			<div class="four columns offset-by-four">
				<ul class="bot-nav">
					<li> <a href="faq.html"> FAQ </a> </li>
					<li> <a href="rules.html"> Rules </a> </li>
					<li> <a href="register.html"> Register </a> </li>
					<li> <a href="resources.html"> Resources </a> </li>
					<li> <a href="schedule.html"> Schedule </a> </li>
				</ul>
				<p class="white"> Copyright 2013. </p>
			</div>
	</div>
	</div><!-- container -->


<!-- End Document
================================================== -->
</body>
</html>