<body>



	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<div class="header">
	<div class="container">
		<div class="sixteen columns">
			<div class="eight columns alpha">
				<h4> <a class="no-dec white" href="index.html"> Hacker Academy - Windows Phone 8 Hackathon </a> </h4>
			</div>
			<div class="eight columns omega">
				<ul class="top-nav">
					<li> <a href="resources.html"> Resources </a> </li>
					<li> <a href="register.html"> Register </a> </li>
					<li> <a href="rules.html"> Rules </a> </li>
					<li> <a href="schedule.html"> Schedule </a> </li><li> <a href="faq.html"> FAQ </a> </li>
				</ul>
			</div>
		</div>
		</div>
	</div>

<div class="schedule-title">
	<div class="container">
		<div class="sixteen columns">
			<h1 class="remove-bottom white"> Schedule  </h1>
		</div>	
</div>
</div>

<div class="sched">
	<div class="container">
	<div class="row">
		<div class="eight columns">
			<h4 class="resource-title big-top"> Note: Schedule may still change. </h4>
			<h2 class="day add-top"> Saturday </h2>
				<div class="row">
					<div class="three columns alpha">
						<p class="bold"> 9:00 am </p>
					</div>
					<div class="five columns omega">
						<p> Registration </p>
					</div>
				</div>
				<div class="row">
					<div class="three columns alpha">
						<p class="bold"> 10:00 am </p>
					</div>
					<div class="five columns omega">
						<p> Introduction </p>
					</div>
				</div>
				<div class="row">
					<div class="three columns alpha">
						<p class="bold"> 11:00 am </p>
					</div>
					<div class="five columns omega">
						<p> Development Tutorial #1 </p>
					</div>
				</div>
				<div class="row">
					<div class="three columns alpha">
						<p class="bold"> 12:00 pm </p>
					</div>
					<div class="five columns omega">
						<p> Lunch </p>
					</div>
				</div>
				<div class="row">
					<div class="three columns alpha">
						<p class="bold"> 1:00 pm </p>
					</div>
					<div class="five columns omega">
						<p > Development Tutorial #2 </p>
					</div>
				</div>
				<div class="row">
					<div class="three columns alpha">
						<p class="bold"> 2:00 pm </p>
					</div>
					<div class="five columns omega">
						<p > Dev Time! </p>
					</div>
				</div>
				<div class="row">
					<div class="three columns alpha">
						<p class="bold"> 6:30 pm </p>
					</div>
					<div class="five columns omega">
						<p> Supper </p>
					</div>
				</div>
				<div class="row">
					<div class="three columns alpha">
						<p class="bold"> 7:00 pm </p>
					</div>
					<div class="five columns omega">
						<p> Dev Time! </p>
					</div>
				</div>
		</div>
		<div class="seven columns offset-by-one">
				<h2 class="day room-top"> Rooms </h2>
				<div class="row">
					<div class="four columns alpha">
						<p class="bold">Sat 9am - Sun 4pm: </p>
					</div>
					<div class="three columns omega">
						<p> BA 2195 & 1120 </p>
					</div>
				</div>
				<div class="row">
					<div class="four columns alpha">
						<p class="bold"> Sat - Tutorials : </p>
					</div>
					<div class="three columns omega">
						<p> BA 1130  </p>
					</div>
				</div>
				<div class="row">
					<div class="four columns alpha">
						<p class="bold"> Sun - Awards : </p>
					</div>
					<div class="three columns omega">
						<p> BA 1170 </p>
					</div>
				</div>
				<div class="row">
					<div class="four columns alpha">
						<p class="bold"> Sat 12pm - Sun 4pm</p>
					</div>
					<div class="three columns omega">
						<p> BA 2159 </p>
					</div>
				</div>
				<div class="row">
					<div class="four columns alpha">
						<p class="bold">Sat 2pm - Sun 4pm : </p>
					</div>
					<div class="three columns omega">
						<p> BA 2185  </p>
					</div>
				</div>
				<div class="row">
					<div class="four columns alpha">
						<p class="bold"> Sat 9am - 2pm :  </p>
					</div>
					<div class="three columns omega">
						<p> BA 2139 </p>
					</div>
				</div>
 		</div>
	</div>

			<div class="row">
			<div class="twelve columns">
				<div class="row">
				<h2 class="day big-top"> Sunday </h2>
				<div class="row">
					<div class="three columns alpha">
						<p class="bold"> 10:00 am </p>
					</div>
					<div class="nine columns omega">
						<p> Coffee + Dev Time! </p>
					</div>
				</div>
				<div class="row">
					<div class="three columns alpha">
						<p class="bold"> 12:00 pm </p>
					</div>
					<div class="nine columns omega">
						<p> Lunch </p>
					</div>
				</div>
				<div class="row">
					<div class="three columns alpha">
						<p class="bold"> 3:00 pm </p>
					</div>
					<div class="nine columns omega">
						<p> Judging & Finalist Selection </p>
					</div>
				</div>
				<div class="row">
					<div class="three columns alpha">
						<p class="bold"> 4:00-6:00 pm </p>
					</div>
					<div class="nine columns omega">
						<p> Finalist Presentations, Judging & Awards Ceremony </p>
					</div>
				</div>
				</div>
		</div>
		
	</div>
	</div>
</div>


<div class="footer big-top">
	<div class="container">
			<div class="eight columns">
				<h3 class="white add-bottom"> For more information about Hacker Academy please visit: <a class="white" href="http://www.hackeracademy.org"> www.hackeracademy.org </a> </h3>
				<p class="big-top white"> Attribution: <a class="white" href="http://thenounproject.com/noun/trophy/#icon-No412" target="_blank">Trophy</a>  from The Noun Project </p>
			</div>
			<div class="four columns offset-by-four">
				<ul class="bot-nav">
					<li> <a href="faq.html"> FAQ </a> </li>
					<li> <a href="rules.html"> Rules </a> </li>
					<li> <a href="register.html"> Register </a> </li>
					<li> <a href="resources.html"> Resources </a> </li>
					<li> <a href="schedule.html"> Schedule </a> </li>
				</ul>
				<p class="white"> Copyright 2013. </p>
			</div>
	</div>
	</div><!-- container -->


<!-- End Document
================================================== -->
</body>
</html>